body {
  padding-top: 20px;
  padding-bottom: 20px;
} // .body

.header {
  margin-bottom: 20px;
} // .header

.static-pages {

  &.static-pages-home {
    margin-top: 50px;

    .btn-primary {
      margin-top: 20px;
    }
  } // .static-pages-home


  &.static-pages-publisher-intro {
    .steps-wrapper {
      margin: 20px 0px;
    }
  } // .static-pages-publisher-intro

} // .static-pages

.posts-page {

  .post-form {
    margin-bottom: 30px;

    .btn-success {
      margin-right: 20px;
    }
  } // .post-form

  .publisher-posts, .pending-posts {
    td.status {
      vertical-align: middle !important;
    }
  } // .publisher-posts

  .payment-form-container {
    margin-top: 20px;

    .form-actions {
      margin-top: 30px;
    }

    .alert-container {
      margin-top: 20px;
    }
  } // .payment-form

  .single-post {
    .affix {
      width: 165px; // col-md-2
    }
  } // .single-post
} // .posts-page
